_PoC/SLSrvTest/obj/
_PoC/SLSrvTest/bin/
_PoC/ExecMocup/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
_PoC/ExecMocup/obj/
_PoC/ExecMocup/bin/
_PoC/VendMockup/ConUI/bin/
_PoC/VendMockup/ConUI/obj/
_PoC/VendMockup/ExecMocup/bin/
_PoC/VendMockup/ExecMocup/obj/
_PoC/VendMockup/MdbMockup/bin/
_PoC/VendMockup/MdbMockup/obj/
_solid/
_PoC/Arduino/
doc/MDB_3.0.pdf
doc/mdb.pdf
doc/pn532ds.pdf
doc/w5500_datasheet.pdf
_PoC/MDBCommLayer/Debug/
_PoC/MDBCommLayer/MDBCommLayer.opensdf
_PoC/MDBCommLayer/MDBCommLayer.sdf
src/1.js
src/mic/.metadata/.plugins/org.eclipse.core.resources/.history/


src/espruino/sniffer
src/mic/MDBAdapter/.settings/
src/mic/MDBAdapter/.project
src/mic/MDBAdapter/Debug
src/mic/MDBAdapter/settings/MDBAdapter.dni

src/mic/MDBAdapter/.cproject
src/VSproj/MDBAdapter/MDBAdapter.opensdf
src/VSproj/MDBAdapter/MDBAdapter/Debug/
src/VSproj/MDBAdapter/MDBAdapter.sdf
doc/pn532_datasheet.pdf
src/mic/MDBAdapter/MDBAdapter/Debug/
src/espruino/balance_checker.js
