_PoC/SLSrvTest/obj/
_PoC/SLSrvTest/bin/
_PoC/ExecMocup/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
_PoC/ExecMocup/obj/
_PoC/ExecMocup/bin/
_PoC/VendMockup/ConUI/bin/
_PoC/VendMockup/ConUI/obj/
_PoC/VendMockup/ExecMocup/bin/
_PoC/VendMockup/ExecMocup/obj/
_PoC/VendMockup/MdbMockup/bin/
_PoC/VendMockup/MdbMockup/obj/
_solid/
_PoC/Arduino/
doc/MDB_3.0.pdf
doc/mdb.pdf
doc/pn532ds.pdf
doc/w5500_datasheet.pdf
